@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* COMMON-S */
*{
  margin: 0; padding: 0; border: 0;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  word-break: break-all;
  -webkit-text-size-adjust: none;   -moz-text-size-adjust: none;  -ms-text-size-adjust: none; 
  -webkit-font-smoothing:antialiased; 
}
ul , li {list-style: none;}
a{text-decoration: none; color: inherit;}
img , article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{display: block;}
table {border-collapse:collapse; border-spacing:0}
.hidden {
  width: 0;height: 0;overflow: hidden;
  font-size: 0; line-height: 0; text-indent: -10000px;
  position: absolute; left: -10000px;
}

html {font-size: 10px; line-height: 1;}
body{ font-family: 'Noto Sans KR', "돋움", Dotum, AppleGothic, sans-serif; color: #555;}
.skip-nav a {
  display: flex; justify-content: center; align-items: center; 
  width: 100%; height: 40px;
  color: #fff;
  background-color: #000;
  position: fixed; left: 0;top: -100px;
}
.skip-nav a:focus {top: 0;}
/* COMMON-E */


/* HEADER-S */
.header{
  display: flex; justify-content: space-between; align-items: center;
  width: 100%; height: 100px;
  padding: 0 50px; box-sizing: border-box;
  background-color: rgba(0, 0, 0, .7);
  position: absolute; left: 0; top: 0;
}
.logo{
  width: 200px;
}
.logo a{
  width: 100%;
}
.logo a img{
  width: 100%;
}

/* gnb-S */
.gnb{}
.gnb ul{
  display: flex; justify-content: center; align-items: center;
}
.gnb .depth1{
}
.gnb .depth1 > a{
  display: block;
  padding: 0 40px; 
  height: 100px;
  font-weight: 500; font-size: 2rem; line-height: 100px; 
  color: #fff;
}
.gnb .depth2{
  display: none;
}
.gnb .depth2 li{}
.gnb .depth2 li a{}
.gnb::after {content: "";
  display: none;
  width: 100%; height: 300px;
  background-color: #fff;
  position: absolute; left: 0; top: 100px;
}
/* gnb-E */

/* tnb-S */
.tnb{
  display: flex; justify-content: center; align-items: center;
}
.tnb-login{
  display: flex; justify-content: center; align-items: center;
  height: 40px;
  margin-right: 20px;
}
.tnb-login li{}
.tnb-login li:nth-child(n+3):nth-child(-n+4){display: none;}
.tnb-login li + li {margin-left: 10px;}
.tnb-login li a{
  font-size: 1.4rem; line-height: 40px;
  color: rgba(255,255,255,.5);
}
.tnb-lang{
  height: 40px;
}
.tnb-lang p{
  height: 40px;
  font-size: 20px; line-height: 43px;
  color: rgba(255,255,255,.5);
}
.tnb-lang div{
  display: none;
}
.tnb-lang div a{}
/* tnb-E */

/* all-S */
.all-menu{
  position: absolute; right: 20px; top: 20px;
}
.all-menu-open{
  display: none;
  position: fixed; right: 20px;top: 20px;
}
.gnb-m{
  display: none;
  position: fixed; right: 0; top: 0;
}
.gnb-m ul{}
.gnb-m .depth1{}
.gnb-m .depth1 > a{}
.gnb-m .depth2{}
.gnb-m .depth2 li{}
.gnb-m .depth2 li a{}
.gnb-m .all-menu-close{}
/* all-E */

/* HEADER-E */


/* FOOTER-S */
/* FOOTER-E */

